<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= (image_tag 'slide1.jpg') %>
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= (image_tag 'slide2.jpeg') %>

          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <center>
      <%= link_to(image_tag("hair_products.jpg", :alt => "image", :width => 400, :height => 400, :title => "Find Your Product"), products_index_path, class:"btn btn-default") %>
        <%= link_to "Find Your Product", products_index_path, class:"btn btn-default" %>
      </center>
    </div><!--col-md-6-->
    
    <div class="col-md-6"><center>
     <%= link_to(image_tag("hair_salon.jpg", :alt => "image", :width => 400, :height => 400, :title => "Find A Salon"), products_new_path, class:"btn btn-default") %>
      <%= link_to "Find A Style", products_new_path, class:"btn btn-default" %>
      </center>
    </div><!--col-md-6-->
    
  </div><!--row-->
</div><!--container-->

<hr class="featurette-divider">

       
   
   