<div container="center">
<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Rails</h3>
      <%= image_tag('Shampoo.jpg', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Excel</h3>
      <%= image_tag('LocGel.jpg', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First HTML5</h3>
      <%= image_tag('Conditioner.jpg', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    <br>
  </div><!--row-->
  <br>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Python</h3>
      <%= image_tag('moisturizer.png', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First SQL</h3>
      <%= image_tag('head_first_sql.jpg', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Query</h3>
      <%= image_tag('hf_jquery.jpg', :alt => "image", :width => 100, :height => 100) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
  </div><!--row-->
</div><!--booksindex-->
</div>
<br>
<br>
<br>
