<div class="container">
<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Keisha's Locs</h3>
      <%= image_tag('locstyle.jpg', :alt => "image") %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Amirah's Goddess Braids</h3>
      <%= image_tag('goddessbraids.jpg', :alt => "image", :width => 175, :height => 250) %>
      <%= link_to 'Read More', products_show_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Thomas's Twists</h3>
      <%= image_tag('twistout.jpg', :alt => "image", :width => 250, :height => 250) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
   
    
    <div class="col-md-3 col-sm-3">
      <h3>Jill Box Braids</h3>
      <%= image_tag('boxbraids.jpg', :alt => "image", :width => 250, :height => 250) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
  </div><!--row-->
  

  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Brazillian Weave  by Victoria </h3>
      <%= image_tag('weave.jpg', :alt => "image", :width => 250, :height => 250) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Anna Mae Crochet Braids</h3>
      <%= image_tag('crochetbraids.jpg', :alt => "image", :width => 250, :height => 250) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Nzhinga Afro</h3>
      <%= image_tag('afro.jpg', :alt => "image", :width => 250, :height => 350) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Renee Doobies</h3>
      <%= image_tag('relaxhair.jpg', :alt => "image", :width => 225, :height => 350) %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
   
    
  </div><!--row-->
</div><!--booksindex-->
</div>

<br>
<br>
<br>
