<div class="container">
<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Rails</h3>
      <%= image_tag('about1.jpg') %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Excel</h3>
      <%= image_tag('hf_excel.jpg') %>
      <%= link_to 'Read More',products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First HTML5</h3>
      <%= image_tag('hf_html5.jpg') %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
  </div><!--row-->
  
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Python</h3>
      <%= image_tag('hf_python_cover.jpg') %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Olive Oil Shampoo</h3>
      <%= image_tag('head_first_sql.jpg') %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
    <div class="col-md-3 col-sm-3">
      <h3>Heads First Query</h3>
      <%= image_tag('hf_jquery.jpg') %>
      <%= link_to 'Read More', products_index_path, class:"btn btn-danger" %>
    </div><!--colmd3colsm3-->
    
  </div><!--row-->
</div><!--booksindex-->
</div>
